.pagination__container {
  display: flex;
  align-items: center;
}

.pagination__button {
  padding: 5px 10px;
  background-color: lightblue;
  cursor: pointer;
  border-radius: 3px;
  margin: 0 10px;
}
