.pagination__container {
  display: flex;
  align-items: center;
}

.pagination__button {
  padding: 5px 10px;
  background-color: lightblue;
  cursor: pointer;
  border-radius: 3px;
  margin: 0 10px;
}

.pagination__button_disabled {
  cursor: not-allowed;
  pointer-events: none;
  background-color: #616b62;
}
.pagination__page-active {
  display: flex;
  align-items: center;
  text-align: center;
  min-width: 50px;
}

.pagination__current-page {
  display: block;
  width: 15px;
  margin-right: 5px;
}
.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
  border: 1px solid black;
}
